/**************************************************************************
* Shared CSS for all pages
***************************************************************************/
body{
	font-family: "Calibri";
}
.page-header{
	background-color: #586A95;
	width: 100%;
}
.page-header img{
	margin-left: 1%;
}
.page-header li{
	
	display: inline;
	
}

.section-title{
	background-color:#586A95; 
	color:white; 
	border:1px solid #DDD;
	padding-left: 1%;
	border-radius: 5px;
}


/**************************************************************************
* Responsive CSS 
***************************************************************************/

