/**************************************************************************
* Shared CSS for all pages
***************************************************************************/
.page-header{
	background-color: #586A95;
	width: 100%;
}
.page-header img{
	margin-left: 1%;
}
.page-header li{
	
	display: inline;
	
}


/**************************************************************************
* Responsive CSS 
***************************************************************************/

