/**************************************************************************
* Shared CSS for all pages
***************************************************************************/
body{
	font-family: "Calibri";
}
.page-header{
	background-color: #586A95;
	width: 100%;
}
.page-header img{
	margin-left: 1%;
}
.page-header li{
	
	display: inline;
	
}

.section-title{
	background-color:#586A95; 
	color:white; 
	border:1px solid #DDD;
	padding-left: 1%;
	border-radius: 5px;
}

.collapsable{
  				display: inline-block;
                width: 23%;
                border: thin solid #000;
                max-height: 90px;
                overflow: hidden;
                box-shadow: 5px 5px 5px #888888;
                margin: 5px 5px 5px 5px;
                transition: all 0.5s linear;
}
.collapsable div:nth-of-type(1) {
    margin: 0;
    padding: 5px 0;
    background-color:  #d1c4e9;
}
.collapsable.open {
    max-height: 150px;
}
.moduleInfoDiv{
    max-width: 100%;
    transition: all 0.5s ease;

}
.moduleInfoDiv.half-width{
    max-width: 48%;
    display: inline;
    float: left;     
}







